.page-cover, .post-cover, .tag-cover {
  position: relative;
  background-color: @page-cover-bg;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: @page-cover-min-height;
  .background-cover;
  padding: 0 !important;
  h1 {
    font-size: 48px;
  }
  h1, p {
    span {
      //.contrast-highlight();
      color: white;
      .text-shadow()
    }
  }
  .container {
    height: 480px;
    min-height: 480px;
    .wrap {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: @page-cover-min-height;
      min-height: @page-cover-min-height;
      width: 100vw;
      padding-bottom: 40px;
      .credit {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 10px;
        .contrast-highlight();
      }
    }
  }

  .container.home, .post-cover {
    width: 100%;
    .wrap {
      vertical-align: middle;
      text-align: center;
    }
  }
  @media (max-width: @cover-break-width) {
    h1 {
      font-size: ceil((@font-size-h1 * 0.6));
    }
    p {
      font-size: ceil((@font-size-base * 0.8));;
    }
  }
  @media (min-width: @grid-float-breakpoint) {
    .container.home {
      .wrap {
        //vertical-align: top;
        //text-align: right;
        //padding-top: 40px;
        h1, p {
          margin-left: 20%;
          margin-right: 20%
        }
      }
    }
  }
  @media (min-height: @page-cover-min-height) {
    .container {
      height: @page-cover-height;
      .wrap {
        height: @page-cover-height;
      }
    }
  }
  .list-inline {
    margin-left: 0;
    .sans-serif;
    font-size: 80%;
    li {
      background: @contrast-text-bg;
    }
  }
}

.page-cover, .post-cover, .tag-cover, .cover-header {
  position: relative;
}

.post-cover {
  height: @post-cover-min-height;
}

.post-cover + .cover-header {
  //height: @post-header-min-height;
  .btn-cover {
    display: none;
  }
}

.tag-cover {
  height: @tag-cover-min-height;
}

.tag-cover + .cover-header {
  height: @tag-header-min-height;
}

@media (min-height: @cover-break-height) {
  .page-cover {
    height: @page-cover-height;
  }

  .post-cover {
    height: @post-cover-height;
  }

  .post-cover + .cover-header {
    height: @post-header-height;
    .btn-cover {
      display: block;
    }
  }

  .tag-cover {
    height: @tag-cover-height;
  }

  .tag-cover + .cover-header {
    height: @tag-header-height;
  }
}

main, .home-section {
  padding-top: @navbar-height;
}

.home-links {
  h2 {
    margin-top: 5px;
  }
}

.home-services {
  margin-top: 20px;
}

.page-header {
  border-bottom: none;
  margin-bottom: 0 !important;

  hr {
    margin-bottom: 0 !important;
  }

  + .main {
    padding-top: 0 !important;
  }
}

.page-cover, .post-cover, .cover-header {
  .btn-cover {
    left: 50%;
    color: #FFF;
    font-size: 96px;
    position: absolute;
    bottom: -40px;
    margin-left: -45px;
  }
}

.page-cover, .post-cover {
  .btn-cover {
    color: #FFF;
    .text-shadow()
  }
}

.cover-header {
  .btn-cover {
    color: #333;
  }
  .author-image {
    position: relative;
    margin-top: -64px;
  }
}

//.container.main {
//  padding-top: 50px;
//}