<section class="container main" role="main" id="main">
    <div class="row" id="content">

        <aside id="sidebar" class="col-md-3 col-md-push-9 post-sidebar">

            {{ if .TableOfContents }}
            <section class="post-contents well">
                {{ .TableOfContents }}
            </section>
            <hr>
            {{ end }}

            {{ partial "post_share.html" }}

        </aside>

        <article class="col-md-9 col-md-pull-3">

            <section class="post-content">
                {{ .Content }}
            </section>

        </article>

    </div>
</section>