<section class="post-share">
    <ul class="list-inline">
        <li>
            <a class="btn btn-facebook" role="button" title="Share this page on Facebook"
               href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
               onclick="window.open(this.href, 'facebook-share','width=580,height=296'); return false;">
                <i class="fab fa-facebook" aria-hidden="true"></i> Share
            </a>
        </li>
        <li>
            <a class="btn btn-twitter" role="button" title="Share this page on Twitter"
               href="https://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}"
               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;">
                <i class="fab fa-twitter" aria-hidden="true"></i> Tweet
            </a>
        </li>
    </ul>
</section>