{{ partial "meta.html" . }}

{{ partial "head_includes.html" . }}

{{ partial "menu.html" . }}

<header class="page-cover" style="background-image: url('{{.Site.Params.CoverImage}}')" id="home">
    <div class="container home">
        <div class="wrap">
            <h1><span>{{.Site.Params.CoverTitle}}</span></h1>

            <p><span>{{.Site.Params.CoverMessage}}</span></p>

            <div class="credit"><a href="{{.Site.Params.CoverCreditLink}}">Photo by {{.Site.Params.CoverCredit}}</a>
            </div>
        </div>
    </div>
    <a class="btn btn-link btn-cover" href="#about" role="button"><i class="fa fa-angle-down"></i></a>
</header>

<section class="container home-section" id="about">
    <div class="row home-links">
        <div class="col-md-4 text-center">
            <a href="https://www.facebook.com/{{.Site.Params.FacebookPage}}/" title="Find us on Facebook">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <h2><a href="https://www.facebook.com/{{.Site.Params.FacebookPage}}/">Find us on Facebook</a></h2>
        </div>
        <div class="col-md-4 text-center">
            <a href="/faq/" title="Frequently Asked Questions">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                </span>
            </a>

            <h2><a href="/faq/">Frequently Asked Questions</a></h2>
        </div>
        <div class="col-md-4 text-center">
            <a href="/contact/" title="Get in Touch">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <h2><a href="/contact/">Get in Touch</a></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{.Site.Params.AboutTitle}}</h2>

            <p>{{.Site.Params.AboutMessage}}</p>

            <p>
                <a class="btn btn-lg btn-primary" href="https://ecpuk.org" role="button">ECP Website <i
                        class="fa fa-angle-double-right"></i></a>
                <a class="btn btn-lg btn-primary" href="https://ecpuk.org/toy-library/" role="button">About This Project <i
                        class="fa fa-angle-double-right"></i></a>
            </p>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}

{{ partial "foot_includes.html" . }}

{{ partial "foot.html" . }}