{{ partial "meta.html" . }}

<link rel="stylesheet" href="//unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
{{ partial "head_includes.html" . }}

{{ partial "menu.html" . }}

<div class="contact-map" id="map"></div>

<main class="container" id="main">
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="media-body">
                        <address>
                            {{.Site.Params.AddressHTML | safeHTML}}
                        </address>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="media-body">
                        {{.Site.Params.PhoneNumber}}
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="media-body">
                        <a href="mailto:{{.Site.Params.EmailAddress}}">{{.Site.Params.EmailAddress}}</a>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="media-body">
                        <a href="https://www.facebook.com/{{.Site.Params.FacebookPage}}/">@{{.Site.Params.FacebookPage}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <article class="col-md-12">
            <section class="post-content text-center">
                {{ .Content }}
            </section>
        </article>
    </div>

</main>

{{ partial "footer.html" . }}

{{ partial "foot_includes.html" . }}
<script>
    var mapOptions = {
        coords: {{.Site.Params.MapCoords}},
        zoom: {{.Site.Params.MapZoom}},
        token: {{.Site.Params.MapToken}},
        icon: {{.Site.Params.MapIcon}},
        iconSize: {{.Site.Params.MapIconSize}},
        iconAnchor: {{.Site.Params.MapIconAnchor}}
    }
</script>
<script src="//unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="/js/contact.js"></script>

{{ partial "foot.html" . }}