{{ partial "meta.html" . }}

<link rel="stylesheet" href="//unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
{{ partial "head_includes.html" . }}

{{ partial "menu.html" . }}

<div class="contact-map" id="map"></div>

<main class="container" id="main">
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <ul class="media-list">
            {{ if .Site.Params.Contact.Address.HTML }}
                <li class="media address">
                    <div class="media-left">
                        <i class="fas fa-map-marker fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Address</span>
                    </div>
                    <div class="media-body">
                        <address>
                        {{ .Site.Params.Contact.Address.HTML | safeHTML }}
                        </address>
                    </div>
                </li>
            {{ end }}
            </ul>
        </div>
        <div class="col-md-5">
            <ul class="media-list">
            {{ if .Site.Params.Contact.Phone.HTML }}
                <li class="media address">
                    <div class="media-left">
                        <i class="fas fa-phone fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Phone Number</span>
                    </div>
                    <div class="media-body">{{ .Site.Params.Contact.Phone.HTML }}</div>
                </li>
            {{ end }}
            {{ if .Site.Params.Contact.Email.HTML }}
                <li class="media address">
                    <div class="media-left">
                        <i class="fas fa-envelope fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Email Address</span>
                    </div>
                    <div class="media-body">
                        <a href="mailto:{{ .Site.Params.Contact.Email.HTML }}"
                           title="Email Us">{{ .Site.Params.Contact.Email.HTML }}</a>
                    </div>
                </li>
            {{end}}
            {{ if .Site.Params.Facebook.Page }}
                <li class="media address">
                    <div class="media-left">
                        <i class="fab fa-facebook fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Facebook Page</span>
                    </div>
                    <div class="media-body">
                        <a href="https://www.facebook.com/{{ .Site.Params.Facebook.Page }}/"
                           title="Find us on Facebook">@{{ .Site.Params.Facebook.Page }}
                        </a>
                    </div>
                </li>
            {{ end }}
            </ul>
        </div>
    </div>

    <div class="row">
        <article class="col-md-12">
            <section class="post-content text-center">
            {{ .Content }}
            </section>
        </article>
    </div>

</main>

{{ partial "footer.html" . }}

{{ partial "foot_includes.html" . }}
<script>
    var mapOptions = {
        coords: {{.Site.Params.Contact.Map.Coords}},
        zoom: {{.Site.Params.Contact.Map.Zoom}},
        minZoom: {{.Site.Params.Contact.Map.MinZoom}},
        token: {{.Site.Params.Contact.Map.Token}},
        icon: {{.Site.Params.Contact.Map.Icon}},
        iconSize: {{.Site.Params.Contact.Map.IconSize}},
        iconAnchor: {{.Site.Params.Contact.Map.IconAnchor}}
    }
</script>
<script src="//unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="/js/contact.js"></script>

{{ partial "foot.html" . }}